.shape {
  position: absolute;
  height: 0.62%;
  width: 37.4%;
  top: 98.38%;
  right: -97.78%;
  bottom: 1%;
  left: 160.39%;
  border-radius: 10px;
  background-color: #000;
}
.frame-child,
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  width: 361px;
  height: 24px;
}
.frame-inner {
  width: 390px;
  height: 28px;
}
.bingchilling {
  position: absolute;
  top: calc(50% - 237px);
  left: calc(50% - 77px);
  font-size: 38px;
  font-family: "Ingrid Darling";
  color: #335bc3;
  display: inline-block;
  width: 154px;
  height: 54px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-div {
  position: absolute;
  top: 253px;
  left: 49px;
  background-color: #d9d9d9;
  border: 1px solid rgba(129, 126, 126, 0.24);
  box-sizing: border-box;
  width: 300px;
  height: 35px;
}
.email {
  position: absolute;
  top: 262px;
  left: 46px;
  display: inline-block;
  width: 74px;
  height: 26px;
}
.frame-child1,
.rectangle-input {
  position: absolute;
  box-sizing: border-box;
  width: 300px;
  height: 35px;
}
.frame-child1 {
  top: 312px;
  left: 49px;
  background-color: #d9d9d9;
  border: 1px solid rgba(129, 126, 126, 0.24);
}
.rectangle-input {
  border: 0;
  background-color: #325bc3;
  top: 371px;
  left: 46px;
  border-radius: 6px;
  border-bottom: 0.5px solid #f0f0f0;
  mix-blend-mode: multiply;
  cursor: pointer;
}
.login {
  position: absolute;
  top: 378px;
  left: 158px;
  color: #fff;
  display: inline-block;
  width: 73px;
  height: 21px;
  mix-blend-mode: normal;
}
.create-one,
.dont-have-an,
.password {
  position: absolute;
  top: 321px;
  left: 46px;
  display: inline-block;
  width: 93px;
  height: 26px;
}
.create-one,
.dont-have-an {
  top: 429px;
  left: 58px;
  width: 190px;
  height: 19px;
}
.create-one {
  left: 231px;
  color: #325bc3;
  width: 73px;
  cursor: pointer;
}
.blank-line {
  margin: 0;
}
.powered-by-txt-container {
  line-break: anywhere;
  width: 100%;
}
.powered-by {
  position: absolute;
  top: 683px;
  left: 102px;
  display: flex;
  align-items: center;
  width: 187px;
  height: 49px;
}
.firebase-ar21-1-1 {
  position: absolute;
  top: 708px;
  left: 133px;
  width: 120px;
  height: 60px;
  overflow: hidden;
}
.pm {
  position: absolute;
  top: 7px;
  left: 38px;
  font-size: 12px;
  font-family: Inter;
  text-align: left;
  display: inline-block;
  width: 60px;
  height: 16px;
}
.frame-icon,
.vector-icon {
  position: absolute;
  overflow: hidden;
}
.vector-icon {
  height: 2.13%;
  width: 6.04%;
  top: 0.71%;
  right: 15.24%;
  bottom: 97.16%;
  left: 78.72%;
  max-width: 100%;
  max-height: 100%;
}
.frame-icon {
  top: 4px;
  left: 332px;
  width: 26px;
  height: 24px;
}
.frame,
.iphone-14-1 {
  background-color: #fff;
  height: 844px;
  overflow: hidden;
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
}
.iphone-14-1 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-family: "Times New Roman";
}
