.iphone-14-6-child,
.shape6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 390px;
  height: 844px;
}
.shape6 {
  height: 0.62%;
  width: 37.4%;
  top: 98.38%;
  right: -97.78%;
  bottom: 1%;
  left: 160.39%;
  border-radius: 10px;
  background-color: #000;
}
.iphone-14-6-child1,
.iphone-14-6-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  width: 361px;
  height: 24px;
}
.iphone-14-6-child1 {
  width: 390px;
  height: 28px;
}
.login1 {
  position: absolute;
  top: 378px;
  left: 158px;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 73px;
  height: 21px;
  mix-blend-mode: normal;
}
.frame-icon6,
.vector-icon7 {
  position: absolute;
  overflow: hidden;
}
.vector-icon7 {
  height: 2.13%;
  width: 6.04%;
  top: 0.71%;
  right: 15.24%;
  bottom: 97.16%;
  left: 78.72%;
  max-width: 100%;
  max-height: 100%;
}
.frame-icon6 {
  top: 4px;
  left: 332px;
  width: 26px;
  height: 24px;
}
.pm6 {
  position: absolute;
  top: 7px;
  left: 38px;
  font-size: 12px;
  font-family: Inter;
  display: inline-block;
  width: 60px;
  height: 16px;
}
.rectangle-wrapper,
.rectangle1 {
  position: absolute;
  left: 0;
  width: 390px;
}
.rectangle1 {
  top: 0;
  background-color: #fff;
  height: 817px;
}
.rectangle-wrapper {
  top: -1px;
  height: 1435px;
  overflow-y: auto;
}
.profile-child4,
.profile-child5 {
  position: absolute;
  top: 1076px;
  left: 202px;
  width: 166px;
  height: 220px;
  object-fit: cover;
}
.profile-child5 {
  top: 986px;
  left: 24px;
  width: 167px;
  height: 310px;
}
.button,
.rectangle2 {
  position: absolute;
  top: 1382px;
  left: 16px;
  width: 343px;
  height: 52px;
}
.rectangle2 {
  height: 99.38%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.62%;
  left: 0;
  background-color: #fff;
}
.change-profile-photo {
  position: absolute;
  top: calc(50% + 45.5px);
  left: 33.87%;
  letter-spacing: -0.05px;
  line-height: 21px;
  font-weight: 300;
}
.oval-icon {
  position: absolute;
  height: 59.01%;
  width: 25.33%;
  top: 11.49%;
  right: 37.33%;
  bottom: 29.5%;
  left: 37.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.profile-photo,
.seperator-icon {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.seperator-icon {
  height: 0.62%;
  width: 100%;
  top: 99.28%;
  right: 0;
  bottom: 0.1%;
  max-width: 100%;
  max-height: 100%;
}
.profile-photo {
  top: 88px;
  width: 375px;
  height: 161px;
  text-align: center;
  font-size: 13px;
  color: #3897f0;
}
.rectangle3 {
  position: absolute;
  height: 99.48%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.52%;
  left: 0;
  background-color: #fff;
}
.private-information {
  position: absolute;
  top: calc(50% - 82.5px);
  left: 4.27%;
  letter-spacing: -0.25px;
  line-height: 20px;
}
.rectangle4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.jacobwestgmailcom {
  position: absolute;
  width: 88.53%;
  top: calc(50% - 10px);
  left: 5.73%;
  letter-spacing: -0.33px;
  display: inline-block;
}
.input {
  height: 100%;
  width: 74.4%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25.6%;
  overflow: hidden;
  font-size: 16px;
}
.field,
.input,
.phone {
  position: absolute;
}
.field {
  height: 24.87%;
  width: 100%;
  top: 24.87%;
  right: 0;
  bottom: 50.26%;
  left: 0;
  overflow: hidden;
}
.phone {
  top: calc(50% - 9px);
  left: 4.27%;
  letter-spacing: -0.25px;
}
.field1,
.field2 {
  position: absolute;
  height: 24.87%;
  width: 100%;
  top: 49.74%;
  right: 0;
  bottom: 25.39%;
  left: 0;
  overflow: hidden;
}
.field2 {
  top: 74.61%;
  bottom: 0.52%;
}
.seperator-icon1,
.seperator-icon2,
.seperator-icon3 {
  position: absolute;
  height: 0.52%;
  width: 65.95%;
  top: 49.66%;
  right: 4.22%;
  bottom: 49.83%;
  left: 29.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.seperator-icon2,
.seperator-icon3 {
  top: 74.53%;
  bottom: 24.96%;
}
.seperator-icon3 {
  top: 99.4%;
  bottom: 0.09%;
}
.common-info {
  top: 505px;
  width: 375px;
  height: 193px;
  overflow: hidden;
}
.common-info,
.field3,
.rectangle12 {
  position: absolute;
  left: 0;
}
.field3 {
  height: 5.88%;
  width: 96.15%;
  top: 85.43%;
  right: 3.85%;
  bottom: 8.69%;
  overflow: hidden;
}
.rectangle12 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 0.33000001311302185px 0 rgba(255, 255, 255, 0.15);
}
.switch-to-profession {
  position: absolute;
  top: calc(50% - 8.5px);
  left: 4.27%;
  letter-spacing: -0.25px;
}
.professional-account {
  position: absolute;
  top: 456px;
  left: 0;
  width: 375px;
  height: 49px;
  overflow: hidden;
  color: #3897f0;
}
.field4,
.field5,
.rectangle13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
}
.rectangle13 {
  background-color: #fff;
  box-shadow: 0 0.33000001311302185px 0 rgba(255, 255, 255, 0.15);
  height: 208px;
}
.field4,
.field5 {
  height: 48px;
  overflow: hidden;
}
.field5 {
  top: 48px;
}
.input6 {
  height: 100%;
  width: 74.4%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25.6%;
  overflow: hidden;
  font-size: 16px;
  color: #ebebf5;
}
.bio,
.field6,
.input6 {
  position: absolute;
}
.field6 {
  top: 96px;
  left: 0;
  width: 375px;
  height: 48px;
  overflow: hidden;
}
.bio {
  top: calc(50% - 18px);
  left: 4.27%;
  letter-spacing: -0.25px;
}
.span {
  color: #f9f9f9;
}
.digital-goodies-desi-container {
  position: absolute;
  width: 88.89%;
  top: calc(50% - 19px);
  left: 5.38%;
  letter-spacing: -0.25px;
  display: inline-block;
}
.field7,
.input7 {
  position: absolute;
  overflow: hidden;
}
.input7 {
  height: 100%;
  width: 74.4%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25.6%;
}
.field7 {
  top: 144px;
  left: 0;
  width: 375px;
  height: 64px;
}
.common-info1,
.seperator-icon4,
.seperator-icon5,
.seperator-icon6 {
  position: absolute;
  top: 47.84px;
  left: 111.84px;
  width: 247.33px;
  height: 1px;
}
.common-info1,
.seperator-icon5,
.seperator-icon6 {
  top: 95.83px;
}
.common-info1,
.seperator-icon6 {
  top: 143.83px;
}
.common-info1 {
  top: 248px;
  left: 0;
  width: 375px;
  height: 208px;
}
.cancel,
.done,
.edit-profile {
  position: absolute;
  top: calc(50% + 12px);
  letter-spacing: -0.33px;
  line-height: 21px;
}
.cancel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 3.2%;
  font-size: 16px;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
}
.done,
.edit-profile {
  left: 40.4%;
  font-weight: 300;
}
.done {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 86.67%;
  font-size: 16px;
  font-weight: 600;
  font-family: Roboto;
  color: #3897f0;
  text-align: right;
  display: inline-block;
}
.background,
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
}
.top-bar {
  width: 375px;
  height: 88px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}
.background {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}
.line {
  position: absolute;
  bottom: 9px;
  left: calc(50% - 66.5px);
  border-radius: 100px;
  background-color: #fff;
  width: 134px;
  height: 5px;
}
.bars-5-home-indicator-dar,
.instagram-profile-edit {
  position: absolute;
  top: 778px;
  left: 0;
  width: 375px;
  height: 34px;
  overflow: hidden;
}
.instagram-profile-edit {
  height: 100.12%;
  width: 100%;
  top: -0.12%;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.profile33 {
  position: absolute;
  height: 48.19%;
  width: 10.67%;
  top: 10.84%;
  right: 2.93%;
  bottom: 40.96%;
  left: 86.4%;
  overflow: hidden;
}
.shape7 {
  position: absolute;
  height: 6.02%;
  width: 36%;
  top: 84.34%;
  right: 32%;
  bottom: 9.64%;
  left: 32%;
  border-radius: 10px;
  background-color: #000;
}
.profile32,
.tab-bar {
  position: absolute;
  bottom: 0;
  width: 390px;
}
.tab-bar {
  left: calc(50% - 195px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 83px;
}
.profile32 {
  left: 0;
  background-color: #fff;
  height: 816px;
  overflow-y: auto;
  font-family: Roboto;
}
.iphone-14-6 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: 15px;
  color: #000;
  font-family: "Times New Roman";
}
