.iphone-14-5-child,
.shape8 {
  position: absolute;
  top: -196px;
  left: 0;
  background-color: #fff;
  width: 390px;
  height: 844px;
}
.shape8 {
  height: 0.62%;
  width: 37.4%;
  top: 98.38%;
  right: -97.78%;
  bottom: 1%;
  left: 160.39%;
  border-radius: 10px;
  background-color: #000;
}
.iphone-14-5-item,
.pm7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 28px;
}
.pm7 {
  top: 7px;
  left: 38px;
  display: inline-block;
  width: 60px;
  height: 16px;
}
.rectangle23 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 390px;
  height: 1239px;
}
.frame2,
.vector-icon8 {
  position: absolute;
  overflow: hidden;
}
.vector-icon8 {
  height: 79.19%;
  width: 83.33%;
  top: 10.4%;
  right: 8.33%;
  bottom: 10.41%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
}
.frame2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  bottom: 1389px;
  left: 340px;
  width: 24px;
  height: 24px;
}
.rectangle-parent {
  position: absolute;
  top: -1px;
  left: 0;
  width: 390px;
  height: 1435px;
  overflow-y: auto;
}
.ellipse-icon {
  position: absolute;
  top: 55px;
  left: 30px;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  object-fit: cover;
}
.anon {
  position: absolute;
  top: 89px;
  left: 203px;
  letter-spacing: -0.01em;
}
.sihanouk-ville-kh {
  position: absolute;
  top: 146px;
  left: 183px;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Roboto;
}
.profile-child6,
.profile-child7 {
  position: absolute;
  top: 280px;
  left: 23px;
  width: 167px;
  height: 220px;
  object-fit: cover;
}
.profile-child7 {
  top: 934px;
  left: 201px;
  width: 166px;
}
.profile-child10,
.profile-child11,
.profile-child8,
.profile-child9 {
  position: absolute;
  top: 280px;
  left: 201px;
  width: 166px;
  height: 293.92px;
  object-fit: cover;
}
.profile-child10,
.profile-child11,
.profile-child9 {
  top: 591px;
  height: 310px;
}
.profile-child10,
.profile-child11 {
  top: 844px;
  left: 23px;
  width: 167px;
}
.profile-child11 {
  top: 517px;
}
.button1 {
  position: absolute;
  top: 1382px;
  left: 16px;
  width: 343px;
  height: 52px;
}
.union-icon4 {
  position: relative;
  width: 12.21px;
  height: 11.35px;
  cursor: pointer;
}
.edit-profile1 {
  position: absolute;
  top: 2px;
  left: 40px;
  font-size: 12px;
  letter-spacing: -0.01em;
  font-family: Comfortaa;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 22px;
}
.edit-profile-wrapper {
  cursor: pointer;
  border: 1px solid #325bc3;
  padding: 0;
  background-color: #fff;
  position: absolute;
  height: 3.06%;
  width: 42.82%;
  top: 28.55%;
  right: 51.28%;
  bottom: 68.38%;
  left: 5.9%;
  border-radius: 6px;
  box-sizing: border-box;
}
.union-icon5 {
  position: relative;
  width: 15.56px;
  height: 14.06px;
}
.home,
.search {
  position: absolute;
  height: 48.19%;
  width: 10.67%;
  top: 10.84%;
  bottom: 40.96%;
  overflow: hidden;
}
.home {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  right: 86.4%;
  left: 2.93%;
}
.search {
  right: 68.05%;
  left: 21.28%;
}
.union-icon6 {
  position: relative;
  width: 15.85px;
  height: 15.85px;
}
.shape9 {
  position: absolute;
  height: 6.02%;
  width: 36%;
  top: 75.9%;
  right: 31.69%;
  bottom: 18.07%;
  left: 32.31%;
  border-radius: 10px;
  background-color: #000;
}
.union-child {
  position: absolute;
  top: calc(50% + 7px);
  left: calc(50% + 29px);
  width: 1px;
}
.union,
.union-child,
.union-item {
  background-color: #fff;
  height: 13px;
}
.union-item {
  position: absolute;
  top: calc(50% + 14px);
  left: calc(50% + 23px);
  width: 1px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.union {
  position: relative;
  width: 13px;
}
.upload {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #325bc3;
  position: absolute;
  height: 48.19%;
  width: 18.67%;
  top: 10.84%;
  right: 40.53%;
  bottom: 40.96%;
  left: 40.8%;
  border-radius: 20px;
  overflow: hidden;
}
.union-icon7 {
  position: relative;
  width: 18px;
  height: 16px;
}
.chat {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 48.19%;
  width: 10.67%;
  top: 10.84%;
  right: 21.6%;
  bottom: 40.96%;
  left: 67.73%;
  overflow: hidden;
}
.person-icon,
.profile35 {
  position: absolute;
  top: 11.5px;
  left: 14.5px;
  width: 11.43px;
  height: 16px;
}
.profile35 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 48.19%;
  width: 10.67%;
  top: 10.84%;
  right: 2.93%;
  bottom: 40.96%;
  left: 86.4%;
  overflow: hidden;
}
.background2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(27.18px);
}
.profile34,
.tab-bar1 {
  position: absolute;
  width: 390px;
}
.tab-bar1 {
  bottom: 0;
  left: calc(50% - 195px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 83px;
}
.profile34 {
  top: 28px;
  left: 0;
  background-color: #fff;
  height: 816px;
  overflow-y: auto;
  text-align: center;
  font-size: 36px;
  font-family: Comfortaa;
}
.iphone-14-5 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #000;
  font-family: Inter;
}
.b75d252-18aa-41a6-9e55-3e38a42-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 214.62px;
  height: 380px;
  object-fit: cover;
}
.frame-pic-2 {
  position: relative;
  background-color: #fff;
  width: 215px;
  height: 380px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
}
.b75d252-18aa-41a6-9e55-3e38a42-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 380px;
  object-fit: cover;
}
.frame-pic-1 {
  position: relative;
  background-color: #fff;
  width: 364px;
  height: 380px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
}
.archive,
.privacy-and-security,
.report-problem {
  position: absolute;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  height: 43px;
}
.report-problem {
  top: 379px;
  left: 0;
  text-align: center;
  justify-content: center;
  width: 137px;
}
.archive,
.privacy-and-security {
  width: 172px;
}
.privacy-and-security {
  top: 320px;
  left: 0;
  text-align: center;
  justify-content: center;
}
.archive {
  top: 202px;
  left: 5px;
}
.activity-log {
  top: 143px;
  width: 172px;
}
.activity-log,
.change-password1,
.saved {
  position: absolute;
  left: 5px;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  height: 43px;
}
.change-password1 {
  top: 84px;
  width: 172px;
  cursor: pointer;
}
.saved {
  top: 261px;
  width: 167px;
}
.rectangle-icon {
  position: absolute;
  top: 731px;
  left: 42px;
  border-radius: 17px;
  width: 103px;
  height: 27px;
  cursor: pointer;
}
.log-out {
  position: absolute;
  top: 739px;
  left: 62px;
  font-size: 12px;
  letter-spacing: -0.01em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 11px;
}
.report-problem-parent {
  position: relative;
  background-color: #211f1f;
  width: 188px;
  height: 844px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Comfortaa;
}
